<div class="min-h-screen flex items-center justify-center">
  <div class="bg-white max-w-md w-full text-center">
    <h1 class="text-4xl font-bold text-gray-600">ありがと！</h1>
    <p class="text-gray-600 m-8">ただあきに連絡しておいたよ！ちょっと待っててね！</p>
  </div>
  <div class="bg-white max-w-md w-full text-center">
    <img src="/images/post.png" alt="tadaaki" />
  </div>
</div>
